

body{
    background: #EEEEEE;
    margin:0px 0px 0px 0px;
    display:flex;
    flex-direction:column;
    width:100%;
    
}
#readingImage{
    background-image: url("../images/library1.jpg");
    height:771px;
    min-width:600px;
    background-size:contain;

    
}

#readingImage h1{
    text-align: center;
    margin-top: 400px;
    color:white;
    font-size: 70px;
    letter-spacing: 2px;
    font-family: monospace;
    line-height:0px;
    transition-duration:250ms;
}

#readingImage h1:hover{
    line-height:50px;
}

.books{
    height:100%;
    display:flex;
    padding-bottom:20px;
}
.image{
    height:500px;
    width:400px;
    margin-left: 50px;
    
}

.description{
    height:300px;
    width:500px;
    margin-top: 50px;
    
    
}
.description h1, .description p{
    font-family: monospace;
    color:white;
    
    
}
.description h1{
    border-top: 3px solid white;
    font-size:50px;
    padding-top:5px;
    font-weight: lighter;
}
.description p{
    font-size:25px;
    border-bottom: 3px solid white;
    padding-bottom:5px;
    
    
}
.description{
  
  height:fit-content;
  border-radius: 10px;
  width:700px;
  padding:0px 10px 0px 10px;
}
.image, .description {
  margin-top:100px;  
  }

  
.image img{
      height:500px;
      width:auto;
      box-shadow: -1px -1px 30px cornsilk;
  }

.book1{
    background:black;
  }
.book2{
  background-color:#929592;
}
.book3 p, .book3 h1, .book1 p, .book1 h1{
  color:black;
}
.book3 p, .book1 p{
  border-bottom: 3px solid black;
  
}
.book3 h1, .book1 h1{
  border-top:3px solid black;
}
