body{
    margin:0;
    background-color:#BBBBBB;
    
}
html{
    scroll-behavior: smooth;
}
.header  img{
  min-height: fit-content;
  max-width: 100%;
}
#welcome{
    padding-bottom:10px;
    font-family: monospace;
    letter-spacing: 1px;
    font-size:30px;
    height:fit-content;
    text-align: center;
    margin-left:500px;
    color:#EEEEEE;
    width:600px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
}
.welcome{
    background:#505050;
    height:300px;
    margin-top:100px; /*-25*/
    padding-top:125px;
/*    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;*/
}
section p{
    font-size:20px;
    line-height: 25px;
    font-family: monospace;
    letter-spacing: 2px;
    color:black;
    text-align: center;
    width:550px;
    margin-left:520px;

}
.wrapper section{
    width:100%;
    position:relative;
    display:grid;
    grid-template-columns: repeat(6, auto);
    margin: 20px 0;
    background-color:#3F4344;
    
}
/*This stuff is deletable - basically replaces the need for a specific class for each one*/
.wrapper{
    display:grid;
    grid-template-columns:repeat(3,100%);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
}
.wrapper2{
    column-gap: 17%;
}
.item img{
    height:400px;
    width:auto;
    max-width: 350px;
}



.item{
    padding: 0px 1px;
    transition: 250ms all;
    
}
.item:hover{
    margin-left:40px;
    margin-right:40px;
    transform: scale(1.2);
}
div h1, .upnext{
    font-family:monospace;
    letter-spacing:5px;
    margin-top: 200px; /*200*/
    margin-bottom:20px;
    text-align: center;
    margin-left:580px;
    font-size:35px;
    color:#EEEEEE;
    background-color:#494949;
    font-weight: lighter;
    width:400px;
    
}


section.next{
    display:grid;
    grid-template-columns: repeat(3,auto);
    height:fit-content;
    width:900px;
    margin-left:22%;
    margin-top:100px;
    padding-bottom: 3%;
}
.next img{
    height:400px;
    width:auto;
    margin: 0px 0px;
    padding: 0px 0px;
}
.next div{
    padding:0px 0px 0px 0px;
    transition:250ms all;
    box-shadow: -10px -10px 30px cornsilk;
    width:fit-content;
    
}
.next div:hover{
    margin-right:40px;
    margin-left:40px;
    transform: scale(1.3);
}
