body{
    display:block;
    background-color: black;
}

.navigation{
    height:10%;
    width:100%;
}
.welcome{
    background-color:khaki;
    height:45%;
    background-image: url("/images/2019-03-Ocean-Waves-1.jpg");
    background-size:100%;
    background-position:center;
    height:400px;
    padding:20px;

}
.welcomeText{
    font-size:60px;
    width:40px;
    font-family:fantasy;
    font-weight:bolder;
}
.faves{
    background-color:lavender;
    height:fit-content;

}

.faves h1{
    background-color:violet;
    text-align: center;
    margin-left:0%;
    padding-top: 3%;
    font-family: fantasy;
    font-size:35px;
    color:black;
}
.faves .movies{
    background-color: teal;
    text-align: left;
    font-size:30px;
    font-family: fantasy;
    padding-left:5px;
    
} 
.upNext{
    background-color:lawngreen;
    height: 60%;
}
.movieSelection{
    display:flex;
    background-color: white;
    height:400px;
    margin-left:100px;
}
.tvSelection{
    background-color: pink;
    height:400px;
}

li img{
    height:300px;
    width:auto;
    margin-right:-150px;
    margin-bottom:0px;
}

/* Trying my luck at buttons*/
button{
    font-size:30px;
    height:fit-content;
    margin-top:10%;
    color:burlywood;
    background-color: none;
    border-radius: 5px;
}
/*About to fk sht up