body{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    flex-wrap: wrap;
    
}
#backdrop{
    background: url("../images/music3a.jpg");
    width:100%;
    height:800px;
    font-size: 40px;
    color:white;
    font-family: monospace;
    text-align:center;
    font-weight:lighter;
}
#backdrop h1{
    padding-top:250px;
    padding-bottom:0;
}

#tops{
    margin:0;
    padding:0;
    background-image:linear-gradient(black 10%, #343030);
    display:flex;
    flex-direction:column;
    width: 100%;
    height:auto;
    
    
}
#topartists{
     min-height:600px;
 }
#images{
    display:flex;
    flex-wrap: wrap;
    justify-content: start;
    width:100%;   
    padding:0;
    margin:0;
}

 #topartists h1{
    margin-top:60px;
    margin-left:60px;
    font-size: 40px;
    color:white;
    font-family:monospace;
}
figcaption{
    color:white;
    text-align: center;
    padding-top:10px;
}
#images img{
    margin-top:50px;
    height:310px;
    border-radius: 50%;
    width:310px;
    transition:350ms;  
    margin:0; 
    padding:0;
}
#images img:hover{
    margin-left:3px;
    margin-right:3px;
    margin-top:-50px;
}

#favealbums{
    min-height:100%;
}

#favealbums img{
    border-radius:0%;
}

#favealbums h1{
    margin-top:60px;
    margin-left:60px;
    font-size: 40px;
    color:rgb(95, 93, 93);
    font-family:monospace;
}
#favealbums figcaption{
    color:black;
}

#introduction{
    margin-top:2%;
    background:#d6d6d6;
    color:darkslategray;
}
#introduction #intro{
    margin-left:17%;
    border-left: 10px solid white; 
    border-right: 10px solid white; 
    font-family: monospace;
    width:65%;
    margin-top:50px;
}

#intro h1{
    margin-left:30%;
    padding-bottom:0px;
    font-weight: 900;
    font-size: 40px;
    width:fit-content;
}
#intro p{
    margin-top:-15px;
    width:fit-content;
   /* background-color:cyan;*/
    margin-left:18%;
    font-size:1.2rem;
    text-align: center;
    width:66%;
}


#playlists{
    /*background-image: linear-gradient(#d6d6d6, #343030);*/
    height:fit-content;
    background-color:beige;
    display:flex;
    flex-direction:column;
    gap: 50px;
    padding-top:50px;
    
}
.table{
    background:linear-gradient(black 10%, #343030);
    display:flex;
    flex-direction: column;
    height:40%;
    width:100%;

}
.table2{
    background:black;
}
.table div{
    background-color:#2A2C2A;
    height:fit-content;
    width:100%;
    margin-bottom:1%;
    padding-top:10px;
    padding-bottom:10px;
}
div a{
    text-decoration: none;
    color:white;
    padding: 0px 0px 2px 10px;
}

.table div:hover{
    background-color:black;
}

.table h1{
    color:white;
    font-size: 3rem;
    font-family:monospace;
    letter-spacing: 0.5rem;

}