
nav{
    margin-top:0px;
    min-width:100%;
    height:12%;
    position: fixed; /* Sit on top of the page content */
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    top:0px;
    z-index: 1;
}

nav:hover{
    background-color: rgba(46, 45, 45, 0.5);
    color:white;
}

nav ul{
    display: flex;
    margin-top:0.7%;
    margin-left:2%;
    padding:0.2%;
    list-style-type: none; /*This gets rid of bullet points*/
    max-width:100%;
    
}

nav ul li{
    padding:0;
    margin:2% 2% 2% 18%;
    font-family:monospace;
    font-weight:lighter;
    font-size:1.2rem;
    letter-spacing: 0.1rem;
    width:fit-content;

}
@media only screen and (max-width: 900px) {
  nav ul{
      width:fit-content;
  }
}
nav ul li:first-child{
    margin-left:0;
}
nav ul li:hover{
    text-decoration: underline;
    text-underline-position: below;
    
}

li a, nav ul li{
    color:white;
    text-decoration-line: none;
}