
nav{
    margin-top:0px;
    min-width:100%;
    height:12%;
    position: fixed; /* Sit on top of the page content */
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    /*z-index: 2; Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    top:0px;
    z-index: 1;
    }
nav:hover{
    background-color: rgba(46, 45, 45, 0.5);
    color:white;
}

nav ul{
    display: flex;
    margin-top:7px;
    margin-left:30px;
    padding:2px;
    list-style-type: none; /*This gets rid of bullet points*/
}

nav ul li{
    padding:0px;
    margin:2% 2% 2% 18%;
    width: 40px;
    font-family:monospace;
    font-weight:lighter;
    font-size:15px;
    letter-spacing: 1px;

}
nav ul li:first-child{
    margin-left:0px;
}
nav ul li:hover{
    text-decoration: underline;
    text-underline-position: below;
    
}

li a, nav ul li{
    color:white;
    text-decoration-line: none;
}